@{
    ViewData["Title"] = "Дія About";
}

<div class="text-center">
    <h1 class="display-6 mb-4">About</h1>

    <a href="@Url.Action("Index", "Test")" class="btn btn-secondary">
        Назад
    </a>
</div>

