@model IEnumerable<Lr9.Models.Product>
<div class="product-table glassmorph neumorph rounded-4 p-4 mb-4">
    <table class="table table-hover align-middle mb-0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Ціна, грн</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.ID</td>
                <td>@p.Name</td>
                <td>@p.Price.ToString("N2")</td>
            </tr>
        }
        </tbody>
    </table>
</div> 